<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzzsleep.project.mapper.UserTaskMapper">

    <resultMap id="BaseResultMap" type="com.zzzsleep.project.model.entity.UserTask">
            <id property="userTaskId" column="userTaskId" jdbcType="INTEGER"/>
            <result property="userId" column="userId" jdbcType="INTEGER"/>
            <result property="taskId" column="taskId" jdbcType="INTEGER"/>
            <result property="userTaskStatus" column="userTaskStatus" jdbcType="INTEGER"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="INTEGER"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        userTaskId,userId,taskId,
        userTaskStatus,content,type,
        createTime,updateTime,isDelete
    </sql>
</mapper>
